@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;500&family=Montserrat:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat+Alternates:wght@200;500&display=swap');

:root {
    --main-bg-color: rgb(0, 0, 0);
    --main-color: #CD6200;
    --sub-color: rgb(255, 255, 255);
    --button-color: #E9D733;
    --logo-size: 55px;
    --st-margin: 60px;
    --st-padding: 10px;
    --save-padding: 20px;
    --margin-between-block: 30px;
    --margin-between-el: 10px;
    --size-title: 24px;
    --st-border: 10px;
    --color-on-input: #f1f1f1;
    --transition-st: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px var(--save-padding);
    border-bottom: 2px solid var(--main-color);
}

.logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: var(--logo-size);
    width: var(--logo-size);
}

.site-name {
    color: var(--sub-color);
    text-transform: uppercase;
    font-family: 'Limelight', sans-serif;
    font-size: 40px;
}

header .nav-menu {
    margin-left: var(--st-margin);
    display: flex;
}

.menu-item {
    text-decoration: none;
    color: var(--sub-color);
    transition: var(--transition-st);
}

.menu-item:hover {
    color: var(--main-color);
}

.menu-item2,
.menu-item3 {
    margin-left: 20px;
}

header button {
    display: block;
    margin-left: var(--st-margin);
    padding: 5px 40px;
    background-color: var(--button-color);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: var(--transition-st);
}

header button:hover {
    scale: 1.05;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 var(--save-padding);
}

.main-image {
    width: 1000px;
    height: 500px;
    border-radius: var(--st-border);
    object-fit: cover;
    margin-top: var(--margin-between-block);
}

.mailing-block {
    border: 2px solid var(--main-color);
    border-radius: var(--st-border);
    display: flex;
    margin-top: var(--margin-between-block);
    padding: var(--st-padding);
    flex-direction: column;
}

.title {
    color: var(--main-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
}

.form-blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-between-el);
}

.input-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--st-padding);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    border-radius: 1000px;
    border: 2px solid var(--main-color);
    width: 250px;
    height: 30px;
    padding: 5px 20px;
    font-size: 20px;
    color: var(--color-on-input);
    background-color: var(--main-bg-color);
    outline: none;
    text-transform: capitalize;
    margin-bottom: var(--margin-between-el);
}

input[type="button"] {
    border: none;
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 1000px;
    background-color: var(--button-color);
    font-weight: 800;
    cursor: pointer;
    transition: var(--transition-st);
}

input[type="button"]:hover {
    scale: 1.05;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--st-padding);
}

.image-block img {
    width: 300px;
    height: 200px;
    border-radius: var(--st-border);
    object-fit: cover;
    margin: 0 5px;
}

.image-block i {
    color: var(--main-color);
    font-size: 48px;
    cursor: pointer;
    transition: var(--transition-st);
}

.image-block i:hover {
    scale: 1.1;
    color: var(--button-color);
}

.map-block {
    margin-top: var(--margin-between-block);
    display: flex;
    padding: var(--st-padding);
    border: 2px solid var(--main-color);
    border-radius: var(--st-border);
}

iframe {
    border: none;
    outline: none;
    border-radius: var(--st-border);
    width: 400px;
    height: 250px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: var(--margin-between-block);
    padding: var(--st-padding);
}

.info p {
    color: var(--sub-color);
    font-size: 20px;
}

footer {
    margin-top: var(--margin-between-block);
    display: flex;
    color: var(--sub-color);
    padding: 25px var(--save-padding);
    border-top: 2px solid var(--main-color);
    align-items: center;
    justify-content: space-between;
}

.reg-block {
    display: inline-block;
    position: relative;
    margin-top: var(--st-margin);
}

.reg-block form {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-between-el);
    align-items: center;
}

.reg-block form input[type="button"] {
    margin-top: var(--margin-between-el);
}

.reg-block.sign-in {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
